@use "../abstract/variables" as vars;

.MainContent{
    width:100%;
    height:100vh;
    position: relative;
    padding-top: 20px;
    // border:1px solid red;

    h1{
        font-family:vars.$font-san;
        font-size:vars.$font-size;
        color:vars.$Title-color;
        padding-bottom: 10px;
    }
    p{
        font-size:vars.$font-size;
        color:vars.$color-white;
        font-family: vars.$font-san;
    }

    .Dynamic-day{
        width: 630px;
        height:100px;
        background-color: vars.$background-color;
        box-shadow: vars.$box-shadow;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(10px); /* For Safari support */
        margin-top: vars.$margin-top;
        border-radius: 10px;
        padding: 20px;

        p{
            font-size: 18px;
            color:vars.$Title-color;
        }

        .Join-app p{
            font-size: 14px;
            margin-top: 10px;
        }

        .Join-app a{
            margin:20px 15px 0 0;
            font-size: 12px;
            text-decoration: none;
            font-family: vars.$font-san;
            color:vars.$premium-border;
        }
    }

    .InputTasks{
        position: vars.$postion-absolute;
        bottom: 30px;
        left:40px;

        input{
            width:600px;
            height:40px;
            background-color: vars.$background-color;
            box-shadow: vars.$box-shadow;
            backdrop-filter: blur(2px);
            border:1px solid vars.$color-silver;
            color:vars.$color-white;
            border-radius: 5px;
            padding-left: 15px;
            font-size: vars.$main-font-size;
        }

        button{
            position: vars.$postion-absolute;
            bottom: 10px;
            right:10px;
            font-size: vars.$main-font-size;
        }
    }
}