@use '../abstract/variables' as vars;
.ModalBox{
  margin: auto;
  width:500px;
  height:250px;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 2rem;
  background-color: vars.$color-white;
  overflow: hidden;
  position: vars.$postion-relative;

   p{
    position: vars.$postion-absolute;
    top:20px;
    right:20px;
    font-family: vars.$font-san;
    cursor: pointer;
  }

  h1{
    font-family: vars.$font-san;
  }

  .InputBox{
    margin-top: 30px;
  }

  input,label{
    display: block;
  }

  button{
    position: vars.$postion-absolute;
    bottom: 15px;
    right:20px;
    padding: 8px 20px;
    background-color:vars.$modal-component-button;
    outline:none;
    border:1px solid vars.$modal-component-button;
    color:vars.$color-white;
    border-radius: 20px;
    cursor: pointer;

  }
}