@use '../abstract/variables' as vars;
.count{
    color:vars.$Title-color;
    border-radius: 50%;
    padding: 5px 10px 5px 8px;
    background-color: vars.$background-color
}

.Personal-container{
    display: flex;
}
.TaskContainer{
    width:100%;
    margin-left: 280px;

    .TaskFlex{
        display: flex;
        justify-content: space-between
    }

    .TaskBox{
        width: 500px;
        height: 530px;
        background-color: #1c1c1e; /* dark gray/black */
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        padding: 20px;
        color: white;
        overflow-y: auto;

        .TaskBox-flex{
            display: flex;
            width:450px;
            background-color: #2c2c2c;
            color:#fff;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        li{
            list-style-type: none;
        }

        input[type='radio'] {
            accent-color: #4caf50;
            transform: scale(1.2);
            margin-right: 20px;
            width:18px;
            height:18px;
        }
        .completed {
            text-decoration: underline;
            color: #aaa;
        }
    }
    .TaskInput{
        width: 500px;
        padding: 15px 15px;
        background-color: #2c2c2c;
        color: #cfcfcf;
        position: relative;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        input{
            width:450px;
            background-color: #2B2B2B;
            padding: 12px 16px;;
            color: #CCCCCC;
            border-radius: 6px;
            border: none;
            border:1px solid #c0c0c0;
            outline: none;

            &::placeholder{
                color: #888;
            }
        }
        button{
            position: absolute;
            top:30px;
            right:50px;
            background-color: transparent;
            border: none;
            outline: none;
            color:#c0c0c0;
            font-size: 17px;
        }
    }
}