// SubTask

.Subtask{
    margin-top: 8px;

    .SubTaskBox{
        width: 500px;
        height: 590px;
        background-color: #1c1c1e; /* dark gray/black */
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        padding: 20px;
        color: white;
        overflow-y: auto;
        margin-top: 5px;
        margin-right:40px;

        .SubTask_header{
            display: flex;
            justify-content: space-between;

            .SubTask-title{
                font-size: 12px;
                color:#c0c0c0;
            }
            .Subtask-extenstion{
                display: inline-flex;

                p{
                    margin-right: 15px;
                    font-size: 12px;
                    color:#c0c0c0;
                }
            }
        }
        .Task-Heading{
            padding: 10px 0 10px 0;
        }
        .Remainder{
            margin-top: 20px;
            display: flex;

            .Remainder-clock button{
                background-color: #2c2c2c;
                color:#fff;
                padding: 10px 15px;
                border-radius: 10px;
                outline: none;
                border:1px solid  #2c2c2c;
                font-size: 13px;

            .Clock{
                color:#FF3B30;
            }
            }
            .Task-Type,.Task-Tags{
                background-color: #2c2c2c;
                color:#fff;
                padding: 10px 15px;
                border-radius: 10px;
                outline: none;
                border:1px solid  #2c2c2c;
                margin-left: 15px;
                font-size: 13px;

                .note{
                    color:rgba(255, 166, 0, 0.904);
                }

               .tag{
                    color:#00A9FF;
                }
            }
        }
        .Notes{
            margin-top: 20px;

            textarea{
                width: 100%;
                height: 50px;
                padding: 10px 12px;
                border-radius: 8px;
                background-color: #1e1e1e;
                border: 1px solid #333;
                color: #eee;
                font-size: 14px;
                resize: vertical;
                font-family: 'Segoe UI', sans-serif;
                margin-top: 10px;

                &::placeholder {
                    color: #777;
                  }
              
                  &:focus {
                    outline: none;
                    border-color: #4e9af1;
                  }
            }
        }
    }
}