@use '../abstract/mixins';
@use '../abstract/variables' as vars;
.Suggestion{
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.434) transparent;
    .helping-tool{
        @include mixins.flex-type();
        padding-top: 20px;
    
        .tools-1{
            @include mixins.flex-type();
            font-size: 17px;
            color:vars.$Title-color;
            font-family: vars.$font-san;
            margin-top: 10px;
        }
        .tools-2{
            border:1px solid vars.$sugg-background-color;
            padding: 10px 10px;
            background-color:vars.$sugg-background-color;
            border-radius: 20px;
    
            span{
                font-size: 20px;
                color:vars.$Title-color;
                margin: auto 10px;
            }
        }
    }
    .Filter-input{
        margin: 10px;
        position: relative;
       input{
        width:320px;
        height: 40px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid vars.$color-silver;
        color:vars.$color-white;
        font-size: 18px;
        outline: none;
       }
       span{
        position: vars.$postion-absolute;
        top:18px;
        right:20px;
        color:vars.$color-white;
        font-size:18px;
       }
    }
    .suggestion-list{
        margin: 20px 15px;
        ul{
            list-style-type: none;
        }

        .Suggestion-box{
            width:320px;
            height:auto;
            background-color: rgba(0, 0, 0, 0.545);
            color:vars.$color-white;
            display: flex;
            padding: 20px 15px;
            margin-top: vars.$margin-top;
            border-radius: 10px;
            font-family: vars.$font-san;
            border:1px solid vars.$sugg-background-color;
            cursor: pointer;

            .Suggestion-box:hover{
                border: 1px solid vars.$sugg-border-box-hover ;
            }
            .addition-feature{
                margin-top: 10px;
                color:vars.$sugg-border-box-hover;
            }

            .list-name{
                margin-left: vars.$sugg-margin-left;

                li{
                    margin-top: vars.$sugg-margin-left;
                }
            }
        }
    }
}
