@use '../abstract/variables' as vars;
@use "../abstract/mixins" as *;

.Weekschedule-flex{
    display: flex;
}

.weekSchedule{
    width:100%;
    margin-left: 260px;

    @include respond-between('xs','sm'){
       margin-left: 50px;
    }
    @include respond-between('sm','md'){
       margin-left: 100px;
    }
    
}
.TaskCard-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 16px;
    align-items: start;
    padding: 16px;

    @include respond-between('sm','md'){
       row-gap: 20px;
       column-gap: 25px;
     }

    .TaskCard{
        width:300px;
        background-color:vars.$weekschedule-card-background;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: vars.$weekschedule-margin;
        color: vars.$color-white;

        .Task-Input{
            position: vars.$postion-relative;
            padding-top: 30px;
            input{
                width:250px;
                background-color:vars.$personal-taskInput-input-background;
                padding: 12px 16px;;
                color: vars.$personal-taskInput-color;
                border-radius: 6px;
                border: none;
                border:1px solid vars.$color-silver;
                outline: none;
    
                &::placeholder{
                    color:vars.$subtask-uploadBox-hover-border;
                }
            }
            button{
                position: vars.$postion-absolute;
                top:45px;
                right:50px;
                background-color: transparent;
                border: none;
                outline: none;
                color:vars.$color-silver;
                font-size: 17px;
            }
        }

        .TaskList{
            list-style-type: none;
            margin-top: vars.$weekschedule-margin;

            .Schedule-flex{
                display: flex;
                padding: 13px 15px;
                background-color:vars.$personal-taskInput-input-background;
                color:vars.$color-white;
                border-radius: 10px;
                margin-top: vars.$weekschedule-margin;

                .Personal-list{
                    margin-left: vars.$weekschedule-margin;

                    .Task-type{
                        font-size: 12px;
                        color:vars.$color-silver;
                        margin-bottom:vars.$weekschedule-margin;
                    }

                    ul{
                        margin-left: 15px;
                    }

                    li{
                        list-style-type: none;
                    }
                }

                input[type='checkbox']{
                    border-radius: 50%;
                }

                li{
                    margin-top:vars.$weekschedule-margin;
                }
            }
        }
    }
}